.u-section-1 .u-sheet-1 {
    min-height: 647px;
}
.u-section-1 .u-list-1 {
    grid-template-rows: auto;
    margin: 60px auto 60px 0;
}
.u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 1496px;
    grid-gap: 10px 10px;
}
.u-section-1 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-1 {
    padding: 30px;
}
.u-section-1 .u-image-1 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-1 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-2 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-2 {
    padding: 30px;
}
.u-section-1 .u-image-2 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-3 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-4 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-2 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-3 {
    padding: 30px;
}
.u-section-1 .u-image-3 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-5 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-6 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-3 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-4 {
    padding: 30px;
}
.u-section-1 .u-image-4 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-7 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-8 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-4 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-5 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-5 {
    padding: 30px;
}
.u-section-1 .u-image-5 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-9 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-10 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-5 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-6 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-6 {
    padding: 30px;
}
.u-section-1 .u-image-6 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-11 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-12 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-6 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-7 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-7 {
    padding: 30px;
}
.u-section-1 .u-image-7 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-13 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-14 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-7 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-8 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-8 {
    padding: 30px;
}
.u-section-1 .u-image-8 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-15 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-16 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-8 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
.u-section-1 .u-list-item-9 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}
.u-section-1 .u-container-layout-9 {
    padding: 30px;
}
.u-section-1 .u-image-9 {
    height: 243px;
    margin: 0 auto 0 0;
}
.u-section-1 .u-text-17 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
}
.u-section-1 .u-text-18 {
    margin: 20px auto 0 0;
}
.u-section-1 .u-btn-9 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 4px 0 0 auto;
}
/*RESPONSIVE_MEDIA*/
@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 562px;
    }
    .u-section-1 .u-list-1 {
        height: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
        min-height: 1234px;
    }
    .u-section-1 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-4 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-5 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-6 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-7 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-8 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-image-9 {
        margin-right: initial;
        margin-left: initial;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-lg .u-section-1 .u-sheet-1 {
    min-height: 562px;
}
.u-lg .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1234px;
}
.u-lg .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
}
.u-lg .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1081px;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 5px));
        min-height: 2363px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-md .u-section-1 .u-sheet-1 {
    min-height: 1081px;
}
.u-md .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2363px;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1611px;
    }
    .u-section-1 .u-list-1 {
        width: 540px;
        margin-right: auto;
        margin-left: -3px;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(1, 100%);
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-sm .u-section-1 .u-sheet-1 {
    min-height: 1611px;
}
.u-sm .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: auto;
    margin-left: -3px;
}
.u-sm .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
}
.u-sm .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1464px;
    }
    .u-section-1 .u-list-1 {
        width: 340px;
        margin-left: 0;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-xs .u-section-1 .u-sheet-1 {
    min-height: 1464px;
}
.u-xs .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
}
/*/RESPONSIVE_CLASS*/
.u-section-2 {
    background-position: 50% 50%;
}
.u-section-2 .u-sheet-1 {
    min-height: 704px;
}
.u-section-2 .u-shape-1 {
    width: 948px;
    height: 228px;
    background-image: none;
    margin: 251px auto 0;
}
.u-section-2 .u-group-1 {
    width: 827px;
    min-height: 584px;
    background-image: none;
    margin: -419px auto 60px;
}
.u-section-2 .u-container-layout-1 {
    padding: 30px;
}
.u-section-2 .u-text-1 {
    letter-spacing: normal;
    font-size: 2.25rem;
    font-weight: 200;
    text-transform: none;
    margin: 22px 0 0;
}
.u-section-2 .u-form-1 {
    height: 427px;
    width: 703px;
    margin: 14px auto 0;
}
.u-section-2 .u-label-1 {
    font-weight: 700;
}
.u-section-2 .u-input-1 {
    font-size: 1.25rem;
}
.u-section-2 .u-form-group-2 {
    margin-left: 0;
}
.u-section-2 .u-label-2 {
    font-weight: 700;
}
.u-section-2 .u-input-2 {
    font-size: 1.25rem;
}
.u-section-2 .u-form-group-3 {
    margin-left: 0;
}
.u-section-2 .u-label-3 {
    font-weight: 700;
}
.u-section-2 .u-input-3 {
    font-size: 1.25rem;
}
.u-section-2 .u-btn-1 {
    background-image: none;
    border-style: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*RESPONSIVE_MEDIA*/
@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 580px;
    }
    .u-section-2 .u-shape-1 {
        width: 940px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-lg .u-section-2 .u-sheet-1 {
    min-height: 580px;
}
.u-lg .u-section-2 .u-shape-1 {
    width: 940px;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 444px;
    }
    .u-section-2 .u-shape-1 {
        width: 720px;
    }
    .u-section-2 .u-group-1 {
        width: 720px;
    }
    .u-section-2 .u-form-1 {
        width: 660px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-md .u-section-2 .u-sheet-1 {
    min-height: 444px;
}
.u-md .u-section-2 .u-shape-1 {
    width: 720px;
}
.u-md .u-section-2 .u-group-1 {
    width: 720px;
}
.u-md .u-section-2 .u-form-1 {
    width: 660px;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 333px;
    }
    .u-section-2 .u-shape-1 {
        width: 540px;
    }
    .u-section-2 .u-group-1 {
        width: 540px;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-2 .u-form-1 {
        width: 520px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-sm .u-section-2 .u-sheet-1 {
    min-height: 333px;
}
.u-sm .u-section-2 .u-shape-1 {
    width: 540px;
}
.u-sm .u-section-2 .u-group-1 {
    width: 540px;
}
.u-sm .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.u-sm .u-section-2 .u-form-1 {
    width: 520px;
}
/*/RESPONSIVE_CLASS*/
/*RESPONSIVE_MEDIA*/
@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 210px;
    }
    .u-section-2 .u-shape-1 {
        width: 340px;
    }
    .u-section-2 .u-group-1 {
        width: 340px;
    }
    .u-section-2 .u-text-1 {
        font-size: 1.5rem;
    }
    .u-section-2 .u-form-1 {
        width: 320px;
    }
}
/*/RESPONSIVE_MEDIA*/
/*RESPONSIVE_CLASS*/
.u-xs .u-section-2 .u-sheet-1 {
    min-height: 210px;
}
.u-xs .u-section-2 .u-shape-1 {
    width: 340px;
}
.u-xs .u-section-2 .u-group-1 {
    width: 340px;
}
.u-xs .u-section-2 .u-text-1 {
    font-size: 1.5rem;
}
.u-xs .u-section-2 .u-form-1 {
    width: 320px;
}
/*/RESPONSIVE_CLASS*/
