*:not(.fas, .fa, .fa-solid, .fab, .ab-icon) {
  font-family: 'Noto Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

.icon-inline {
  margin-right: 10px;
}

.address-line {
  margin-right: 20px;
  display: inline;
}

.box-product {
  margin-top: 20px;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

  img.image {
    width: 100%;
    padding: 5px;
  }

  .product-price {
    padding: 10px 10px 0;
  }

  .product-name {
    padding: 10px 10px 0;
    font-size: 18px;

    a {
      text-decoration: none;
      color: #2f2f2f;
      -webkit-transition: color 0.3s ease-in;
      transition: color 0.3s ease-in;

      &:hover {
        color: #104e92;
      }
    }
  }

  &:hover {
    .bottom-item-product {
      .product-price {
        font-size: 12px;
        font-weight: bold;
        color: white;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
      }

      &:after {
        height: 65px;
      }
    }

    .product-price {
      position: absolute;
      z-index: 1;
    }

    .btn-buy {
      position: absolute;
      z-index: 1;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
  }

  .bottom-item-product {
    position: relative;
    height: 65px;

    &:after {
      content: "";
      background-color: #104e92;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      -webkit-transition: height 0.3s ease-in;
      transition: height 0.3s ease-in;
      z-index: 0;
    }

    > * {
      display: block;
    }

    .product-price {
      font-size: 18px;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      left: 0;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .btn-buy {
      width: 100%;
      height: 65px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: none;
      text-decoration: none;

      > span {
        font-size: 17px;
        text-transform: uppercase;
        display: block;
        margin: auto;
        color: white;
      }
    }
  }
}

.box-image-info {
  margin-top: 20px;
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

  img.image {
    width: 100%;
  }

  .title {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #104e92;
  }

  .description {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: gray;
  }

  .bottom-box {
    width: 100%;
    margin-top: 10px;
  }


}

.product-description {
  padding: 10px 10px 0;
}

.box-icon-info {
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: #104e92;

    .title {
      color: white;
    }

    .description {
      color: white;
    }
  }

  .title {
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #104e92;
  }

  .description {
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
    font-size: 15px;
    text-align: left;
    color: gray;
  }

  .icon {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  img.icon {
    width: 45px;
    height: 45px;
  }
}

.box-project {
  padding: 0;
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }

  &:hover {
    &:before {
      background-color: rgba(0, 0, 0, 0.5);
    }

    .info-project {
      bottom: 0;
    }

    .btn-view-detail {
      opacity: 1;
    }
  }

  .image {
    width: 100%;
  }

  .btn-view-detail {
    border-radius: 30px;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-decoration: none;
    opacity: 0;

    i {
      color: white;
      -webkit-transition: color 0.3s ease-in;
      transition: color 0.3s ease-in;
    }

    &:hover {
      border-color: #104e92;

      i {
        color: #104e92;
      }
    }
  }

  .info-project {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ca9517;
    padding: 10px;
    -webkit-transition: bottom 0.3s ease-in;
    transition: bottom 0.3s ease-in;

    .label-tag {
      background-color: #104e92;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      color: white;
    }

    .title {
      font-size: 18px;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: white;
        -webkit-transition: font-weight 0.3s ease-in;
        transition: font-weight 0.3s ease-in;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.btn.btn-learn-more {
  border: 2px solid #104e92;
  text-decoration: none;
  color: #104e92;
  font-weight: bold;

  &:hover {
    background-color: #104e92;
    color: #fff;
  }
}

.section-dark {
  background-color: #eeeeee;
}

.check-out-page {
  .number-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    button {
      height: 38px;
      width: 38px;
      margin-top: 10px;

      &:first-child {
        border-radius: 0.25rem 0 0 0.25rem;
      }

      &:last-child {
        border-radius: 0 0.25rem 0.25rem 0;
      }
    }

    input[type=number] {
      border-radius: 0;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    > * {
      &:focus {
        z-index: 1;
      }
    }
  }

  margin-top: 10px;

  .title-page {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subtitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .content {
    p {
      margin-bottom: 5px;
    }

    br {
      height: 5px;
      content: "";
      display: block;
    }
  }

  .tiger-form-row {
    margin-top: 15px;

    label.error {
      color: red;
      margin-top: 5px;
    }

    label#txt_captcha-error {
      position: absolute;
      top: 40px;
    }

    #btn_submit {
      font-size: 1rem;
    }

    h4.title-section {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;

      &:after {
        content: none;
      }
    }

    input {
      margin-top: 10px;
    }

    select {
      margin-top: 10px;
    }

    textarea {
      margin-top: 10px;
    }

    .submit-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      position: relative;
      height: 70px;

      button[type=submit] {
        height: 36px;
      }
    }

    .captcha {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 30px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;

      #txt_captcha {
        width: 120px;
        margin-top: 0;
      }

      #img_captcha {
        border-radius: 0.25rem;
        display: block;
        margin: auto 0 auto 5px;
      }

      #btn_reset_captcha {
        margin-left: 5px;
        width: 36px;
        height: 36px;
        content: "\f021";
        border-radius: 100%;
        color: #1B1F20;
        background-color: #104e92;
        padding: 0;
        text-align: center;

        i {
          margin: auto 0;
        }
      }
    }
  }
}

.customer-feedback-page {
  margin-top: 10px;

  .title-page {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .subtitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .content {
    p {
      margin-bottom: 5px;
    }

    br {
      height: 5px;
      content: "";
      display: block;
    }
  }

  .tiger-form-row {
    margin-top: 15px;

    label.error {
      color: red;
      margin-top: 5px;
    }

    label#txt_captcha-error {
      position: absolute;
      top: 40px;
    }

    #btn_submit {
      font-size: 1rem;
    }

    h4.title-section {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;

      &:after {
        content: none;
      }
    }

    input {
      margin-top: 10px;
    }

    select {
      margin-top: 10px;
    }

    textarea {
      margin-top: 10px;
    }

    .submit-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      position: relative;
      height: 70px;

      button[type=submit] {
        height: 36px;
      }
    }

    .captcha {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 30px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;

      #txt_captcha {
        width: 120px;
        margin-top: 0;
      }

      #img_captcha {
        border-radius: 0.25rem;
        display: block;
        margin: auto 0 auto 5px;
      }

      #btn_reset_captcha {
        margin-left: 5px;
        width: 36px;
        height: 36px;
        content: "\f021";
        border-radius: 100%;
        color: #1B1F20;
        background-color: #104e92;
        padding: 0;
        text-align: center;

        i {
          margin: auto 0;
        }
      }
    }
  }
}

ul.page-numbers {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  li {
    height: 42px;
    width: 42px;

    .current {
      color: #fff !important;
      background-color: #104e92;

      p {
        color: #fff;
      }
    }

    a {
      &:hover {
        color: #fff !important;
        background-color: #104e92;

        p {
          color: #fff;
        }
      }

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-decoration: none;
      color: #000;

      p {
        font-size: 18px;
        color: #000;
        margin-bottom: 0;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
      }
    }

    span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      p {
        font-size: 18px;
        color: #000;
        margin-bottom: 0;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
      }
    }
  }
}

.bottom-item {
  .btn-contact {
    width: 100%;
    height: 65px;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #104e92;

    span {
      font-size: 17px;
      text-transform: uppercase;
      display: block;
      margin: auto;
      color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none !important;
  }
  .customer-feedback-page {
    .tiger-form-row {
      .submit-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;

        button[type=submit] {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
  .check-out-page {
    .tiger-form-row {
      .submit-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;

        button[type=submit] {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}

@for $i from 1 through 9 {
  .text-overflow-#{$i}-line {
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
}


@for $i from 1 through 5 {
  .crop-image-#{$i}00 {
    width: 100%;
    height: $i*100px !important;
    object-fit: cover;
    object-position: center;

    &.h-mobile-50 {
      @media screen and (max-width: 425px) {
        height: $i*50px !important;
      }
    }
  }
}


#content {
  .title-page {
    color: #20789E;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
  }
}

.archive {
  .archive-description {
    min-height: 90px;
  }

  .item {
    margin-bottom: 20px;
  }

  .name {
    min-height: 58px;
  }
}



.btn {
  &.btn-read-more {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    width: fit-content;

    span {
      display: block;
      margin: auto;
    }

    > a {
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      color: white;
      -webkit-transition: font-weight 0.2s ease-in;
      transition: font-weight 0.2s ease-in;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &.btn-center {
    display: block;
    margin: 0 auto;
  }

  &.bg-blue {
    background-color: #20789E;
    color: white;
  }

}

.btn-outline-blue {
  background-color: white;
  border: solid #20789E 2px !important;

  @media screen and (max-width: 768px){
    display: block;
    margin: 0 auto;
  }
}

