.u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 176px;
}

.u-header .u-image-1 {
  width: 332px;
  height: 95px;
  margin: 36px auto 0 0;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-image-2 {
  width: 36px;
  height: 36px;
  margin: -64px 405px 0 auto;
}

.u-header .u-image-3 {
  width: 30px;
  height: 33px;
  margin: -34px 236px 0 auto;
}

.u-header .u-text-1 {
  line-height: 1;
  font-weight: 500;
  font-size: 1rem;
  margin: -26px 23px 0 913px;
}

.u-header .u-text-2 {
  line-height: 1;
  font-weight: 500;
  font-size: 1rem;
  margin: -15px 282px 0 744px;
}

.u-header .u-search-1 {
  width: 238px;
  min-height: 46px;
  background-image: none;
  margin: 38px 44px 0 auto;
}

.u-header .u-menu-1 {
  margin: -36px auto 0 0;
}

.u-header .u-nav-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-header .u-nav-popup-3 {
  background-image: none;
  padding: 20px;
}

.u-header .u-nav-7 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-header .u-sheet-1 {
    min-height: 175px;
  }
  .u-header .u-image-1 {
    margin-top: 35px;
  }
  .u-header .u-image-2 {
    width: 36px;
    height: 36px;
    margin-top: -64px;
    margin-right: 405px;
  }
  .u-header .u-image-3 {
    width: 30px;
    height: 33px;
    margin-top: -35px;
    margin-right: 248px;
  }
  .u-header .u-text-1 {
    width: auto;
    margin-top: -21px;
    margin-right: 24px;
    margin-left: 712px;
  }
  .u-header .u-text-2 {
    width: auto;
    margin-top: -16px;
    margin-right: 278px;
    margin-left: 548px;
  }
  .u-header .u-search-1 {
    width: 238px;
    height: auto;
    margin-top: 28px;
    margin-right: 24px;
  }
  .u-header .u-menu-1 {
    width: auto;
    margin-top: -40px;
    margin-bottom: 12px;
  }
  .u-header .u-nav-1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-header .u-image-2 {
    margin-top: -106px;
    margin-right: 216px;
  }
  .u-header .u-image-3 {
    margin-top: 9px;
    margin-right: 219px;
  }
  .u-header .u-text-1 {
    margin-top: -23px;
    margin-right: 0;
    margin-left: 516px;
  }
  .u-header .u-text-2 {
    margin-top: -60px;
    margin-right: 90px;
    margin-left: 516px;
  }
  .u-header .u-search-1 {
    margin-top: 72px;
  }
  .u-header .u-menu-1 {
    margin-top: -33px;
    margin-bottom: 9px;
  }
  .u-header .u-nav-popup-3 {
    left: 0;
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-header .u-sheet-1 {
    min-height: 189px;
  }
  .u-header .u-image-1 {
    width: 270px;
    height: 77px;
    margin-top: 25px;
  }
  .u-header .u-image-2 {
    margin-top: -78px;
    margin-right: 216px;
  }
  .u-header .u-image-3 {
    margin-right: 219px;
  }
  .u-header .u-text-1 {
    margin-left: 336px;
  }
  .u-header .u-text-2 {
    margin-top: -60px;
    margin-left: 336px;
  }
  .u-header .u-search-1 {
    margin-top: 68px;
    margin-right: 0;
  }
  .u-header .u-menu-1 {
    margin-top: -45px;
    margin-bottom: 40px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-header .u-sheet-1 {
    min-height: 197px;
  }
  .u-header .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }
  .u-header .u-image-2 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: -2px;
  }
  .u-header .u-image-3 {
    margin-top: 3px;
    margin-right: auto;
    margin-left: 0;
  }
  .u-header .u-text-1 {
    margin-top: -24px;
    margin-right: 90px;
    margin-left: 46px;
  }
  .u-header .u-text-2 {
    margin-top: -53px;
    margin-right: 180px;
    margin-left: 46px;
  }
  .u-header .u-search-1 {
    min-height: 38px;
    margin-top: 53px;
  }
  .u-header .u-menu-1 {
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.top-header {
  /* Bootstrap 4 text input with search icon */

  .container {
    .row {
      div:last-child {
        div {
          @media screen and (min-width: 769px) {
            padding: 0;
          }
        }
      }
    }
  }

  .has-search {
    .form-control {
      padding-left: 2.375rem;
    }

    input.input-search {
      border-radius: 20px;
      background-color: #E9F2FA;
      border: none;
      box-shadow: 3px 5px 5px #888888;
    }
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .col-logo {
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      display: block;

      @media screen and (max-width: 425px) {
        margin: 0 auto;
      }
    }

    img {
      width: 100%;
      max-width: 300px;

    }
  }

  .brand-contact {
    list-style: none;
    padding-left: 0px;
    margin: 20px 0;

    img {
      display: inline;
      width: 30px;
      height: auto;
    }
  }

}

.main-menu {
  .u-nav {
    .u-nav-item {
      background-color: white;
      z-index: 99;

      a {
        font-weight: bold;
        color: black;
        word-wrap: break-word;
        white-space: unset;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }

  .u-sidenav {
    .u-popupmenu-items {
      margin: 20px 20px 0;
      text-align: left;
    }

    .u-sidenav-overflow {
      .u-nav-item {
        background-color: transparent;

        a {
          font-weight: bold;
          color: white;
          word-wrap: break-word;
          white-space: unset;
        }
      }
    }

    .open {
      padding-left: 10px;
    }
  }
}

.u-nav-popup {
  .menu-item-has-children {
    & > .u-nav-link:after {
      content: "\25B8" !important;
      margin-left: 2px;
      margin-right: -0.5rem;
    }
  }
}